spring:
  application:
    name: book my show
  datasource:
    url: jdbc:h2:mem:bookMyShowdb
    driverClassName: org.h2.Driver
    username: anshiagg
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
server:
  port: 8081
